<!doctype html>
<html>
  <head>
    <title>Question Answering Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Welcome to the Menu Page</h1>
    <button onclick="location.href='{{ url_for('index') }}'">Q and A</button>
    <button onclick="location.href='{{ url_for('signup') }}'">Sign up</button>
    <button onclick="location.href='{{ url_for('login') }}'">Login</button>
    <button onclick="location.href='{{ url_for('qgen') }}'">Question</button>
  </body>
</html>


















<!--<!doctype html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Question Answering Web App</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
<!--  </head>-->
<!--  <body>-->
<!--    <h1>Question Answering Web App</h1>-->
<!--    <a href="{{ url_for('index') }}">Go to Index</a>-->
<!--    <br>-->
<!--    <button onclick="location.href='{{ url_for('index') }}'">Go to Index</button>-->
<!--  </body>-->
<!--</html>-->
